<!DOCTYPE html>
<html lang="en">
<head>
  <title>Network Snap</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<script type="text/javascript" src="/static/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/boot-select/css/bootstrap-select.min.css">
<script type="text/javascript" src="/static/boot-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/moment.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/fabric.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Bootstrap-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/DataTables-1.10.15/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Buttons-1.3.1/css/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Responsive-2.1.1/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Select-1.2.2/css/select.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/buttons.dataTables.min.css">
 
<script type="text/javascript" src="/static/datatable_cdn/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/JSZip-3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/pdfmake-0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/pdfmake-0.1.27/build/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/DataTables-1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Responsive-2.1.1/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Select-1.2.2/js/dataTables.select.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/select2.css">
<script type="text/javascript" src="/static/select2.min.js"></script>


</head>
<body>


<!-- Manage Input -->
  <div class="modal fade" id="manageinput" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Manage Input</h4>
          
        </div>
        <div class="modal-body">
        <div  class="form-group">
          <label for="inputdefault">Input File</label>
         <select id="listinput2" class="form-control"  title="Select File" style="width:70%;">
         
        </select>
        </div>
        <button id="downinput" type="button" class="btn btn-danger" onclick="down_input()">Download</button> 
        <button id="delinput" type="button" class="btn btn-danger" onclick="del_input()">Delete</button>
  
         <!-- <table id="listinput" class="display"></table> -->
         
          
        </div>
        <div class="modal-footer">
          <h4><span id="manage_status" class="label label-warning" style="float:left;"></span></h4>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div></div>

  <!-- Upload File -->
  <div class="modal fade" id="uploadinput" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Input file</h4>
        </div>
        <div class="modal-body">

          <form class="form-inline" id="inputform" action="upload_input">
          <div class="form-group">
            <label for="pwd">Upload XLSX file</label>
            <input type="file" class="form-control" name="file">
          </div>
            <button class="btn btn-default">Submit</button>
          </form>

        </div>
        <div class="modal-footer">
          <h4><span id="upload_status" class="label label-info" style="float:left;">Please select</span></h4>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
<!-- List file and Run -->
  <div class="modal fade" id="showinput" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Run New</h4>
          
        </div>
        <div class="modal-body">
        <div id="inputrun" class="form-group">
          <label for="inputdefault">Input File</label>
         <select id="listinput" class="form-control"  title="Select File" style="width:70%;">
        </select>
        </div>

        
          <label id="groupselect_lab" for="inputdefault">Group & Run Level</label>
        
        <div class="form-group">
        <select multiple id="groupselect" style="width:70%;">
          
        </select></div>
        

        <div class="form-group">
        <label for="inputdefault">Job Name</label>
          <input class="form-control" id="jobname" type="text" style="width:70%;">
        </div>
        <div class="form-group">
        <label for="inputdefault">Number of Apprentice(s)</label>
          <input class="form-control" id="apprentice" type="text" value=5 style="width:70%;">
        </div>
        <button id="newrun" type="button" class="btn btn-danger" onclick="send_run()">Run</button>  
  
         <!-- <table id="listinput" class="display"></table> -->
         
          
        </div>
        <div class="modal-footer">
          <h4><span id="newrun_status" class="label label-warning" style="float:left;"></span></h4>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div></div>








<!-- Get Session status -->
  <div class="modal fade" id="showsession" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span id="sesjobstatus" class="label label-default">Loading Job Status ...</span></h4>
          <span id="sescompleted" class="label label-success"></span>
          <span id="sesrunning" class="label label-primary"></span>
          <span id="seshold" class="label label-danger"></span>
          <span id="sestime" class="label label-info"></span>
        </div>
        <div class="modal-body">
        <table id="sessiontable" class="table table-striped table-bordered dt-responsive nowrap"></table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div></div>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-weight: bold;">Network Snap</a></h1>
    </div>




    <ul id="edit_me" class="nav navbar-nav">
      
      <li class="active"><a href="#" onclick="edit_me()">Edit</a></li>
      
      <li class="active">
      <div style="float:left;margin-top:10px" class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle btn-xs " data-toggle="dropdown">
      <span style="font-weight: bold;">Action</span>
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
      <li><a href="#" onclick="new_ses('group')">New Job</a></li>
      <li><a href="#" onclick="new_ses('file')">New File Job</a></li>
      <li><a href="#" onclick="disp_session()">View Running Job</a></li>
      <li><a href="#" onclick="upload_input()">Upload input</a></li>
      <li><a href="#" onclick="manage_input()">Download | Delete input</a></li>
      </ul>
      </div></li>

      <li class="active"><h4><span id="outtime" class="label label-default">LASTSNAP</span></h4></li>
      


      <li id="device_h">
      <select id="device" class="selectpicker form-control" data-live-search="true" title="Select Device Name">

      </select>
      </li>
      <li id="element_h">
            <select id="element" class="selectpicker form-control" data-live-search="true" title="Select Monitoring Element">
            
            </select>
      </li>
     <li id="xyz_h">
     <select id="xyz" class="selectpicker form-control" data-live-search="true" title="Select Object">
     <option>Link</option>
     <option>Device</option>
     <option>Label</option>
      </select>
     </li>
     <li id="button_h">
          <button id="button" type="button" class="btn btn-primary" onclick="add_element()">ADD</button>
     </li>
     <li id="button2_h">
	           <button id="button2" type="button" class="btn btn-primary" onclick="save_edit()">SAVE</button>
     </li>
     </ul>
<div style="float:right;margin-top:10px">
        <span id="load-status" class="label label-danger">RUNNING</span>
        <span id="inid" class="label label-primary">INID</span>
        <span id="outid" class="label label-success">SNAPSHOT</span>
        <span id="jobdesc" class="label label-info">JOBNAME</span>
  <input id='datetimepicker1' type='text' />
       <a href="#" id="back" class="btn btn-sm btn-info" onclick="history('back')"><span class="glyphicon glyphicon-step-backward"></span></a>
      <a href="#" id="play" class="btn btn-sm btn-info" onclick="snap_play()"><span id="play_ico" class="glyphicon glyphicon-pause"></span></a>
      <a href="#" id="forw" class="btn btn-sm btn-info" onclick="history('forward')"><span class="glyphicon glyphicon-step-forward"></span></a>
      
</div>
  </div>

</nav>

<div class="container-fluid" >
  <div class="row">
<div class="col-md-6">

<canvas id="live" width="1302" height="627"> </canvas>
</div>

<div class="col-md-6">
<table id="searchtable" class="table table-striped table-bordered dt-responsive nowrap"></table>
</div></div></div>


<style>
html body {background-color: rgba(240, 240, 240,1.00);}
</style>



<script type="text/javascript">
  $('#groupselect').select2();
</script>


<script type="text/javascript">

            $(function () {
                var dateNow = new Date();
                console.log(dateNow);
                $('#datetimepicker1').datetimepicker({format:'DD-MM-YYYY HH:mm:ss',defaultDate:dateNow});
                $('div.dataTables_filter input').attr('id', 'tabsearch');
            });
        </script>

<script>

//$('#inputform').ajaxSubmit();

canvas = new fabric.Canvas('live');
new_update_required = true;
play_snap = true;

var draw_data = {}

$( document ).ajaxError(function( event, jqxhr, settings, thrownError ) {

console.log("Post Data Error");  
console.log(settings);

});


// Submitting input file to server
$("#inputform").submit(function(e)
{
 
    var formObj = $(this);
    var formURL = formObj.attr("action");
    var formData = new FormData(this);
    $("#upload_status").text("Uploading...");
    $.ajax({
        url: formURL,
    type: 'POST',
        data:  formData,
    mimeType:"multipart/form-data",
    contentType: false,
        cache: false,
        processData:false,
    success: function(data, textStatus, jqXHR)
    {
        $('#inputform').trigger("reset");
        $("#upload_status").text("Upload Success");
        console.log(data);
    },
     error: function(jqXHR, textStatus, errorThrown) 
     {
     
         $("#upload_status").text("Upload Failed");
        console.log(errorThrown);

     }          
    });
    e.preventDefault(); //Prevent Default action. 
    
}); 








// Deleting canvas element by pressing (DEL)
$(document).keydown(function (e) {
if (e.keyCode == 46 && e.shiftKey == true)
{
if(canvas.getActiveGroup())
{
canvas.getActiveGroup().forEachObject(function(o){ canvas.remove(o) });
canvas.discardActiveGroup().renderAll();}else{canvas.remove(canvas.getActiveObject());}}
});

function add_element()
{
// ADD NEW ELEMENT TO X,Y POINT
var dev = $("#device").val();
var ele = $("#element").val();
var xyz = $("#xyz").val();
if (dev.length < 1 || ele.length < 1 || xyz.length < 1)
{

  alert("Please Select");

}
else
{

if (typeof(draw_data) != "object")
{
  // OVERWRIGHT CORRUPTED DATA
  draw_data = {}
}

if (xyz == "Link")
{
if (ele != 0)
{
var lin = new fabric.Line([200, 200, 200, 50], {left: 170,top: 150,stroke: '#4d0099',strokeWidth: 8})
lin.toObject = (function(toObject) {return function() {return fabric.util.object.extend(toObject.call(this), {name: this.name});};})(lin.toObject);
lin.name = dev+"_"+ele;
canvas.add(lin)
canvas.renderAll()
}else{alert("Please Select Correct Element");}
}


else if(xyz == "Device")
{

if (ele == 0)
{
var circle = new fabric.Circle({radius: 100,fill: '#333333',left: 100, top: 100});
var text1 = new fabric.Text($("#device option:selected").text(), {fontSize: 40,fill: '#ffffff',left: 130, top: 120});
var text2 = new fabric.Text('000', {fontSize: 80,fill: '#ffffff',left: 140, top: 160,textAlign : 'center'});
//var text3 = new fabric.Text('Cpu/Mem: 0/0', {fontSize: 20,fill: 'green',left: 125, top: 250});

var group = new fabric.Group([ circle, text1 , text2], {left: 100,top: 100});
group.toObject = (function(toObject) {return function() {return fabric.util.object.extend(toObject.call(this), {name: this.name});};})(group.toObject);
group.name = dev+"_"+ele;
canvas.add(group)
canvas.renderAll()

}else{alert("Please Select Device Element");}

}
else if (xyz == "Label")
{
if (ele != 0)
{
var text4 = new fabric.Text('New', {fontSize: 80,fill: 'green',left: 140, top: 160});
text4.toObject = (function(toObject) {return function() {return fabric.util.object.extend(toObject.call(this), {name: this.name});};})(text4.toObject);
text4.name = dev+"_"+ele;
canvas.add(text4)
canvas.renderAll()
}else{alert("Please Select Correct Element");}
}

else{console.log("Invalid Object :"+xyz);}
}
}

function save_edit()
{
// UPLOADE SAVED X,Y VALUES TO SERVER
try{

tmp = canvas._objects
//console.log(canvas._objects)
$("#load-status").text("loading...");
$.post("update",
{
  
  "update" : JSON.stringify(canvas.toJSON(["name"]))

},
function(data, status)
{

   if (data == "success")
   {
     $("#load-status").text("saved");
     alert("Saved");
   }
   else
   {
     $("#load-status").text("save fail");
     alert("Not Saved");
   }
});
}

catch(err)
{
 console.log("save_data Error:"+err);
}

}



function upload_input(){
$("#uploadinput").modal({backdrop: "static"});
$('#inputform').trigger("reset");
$("#upload_status").text("Please Select");
}


function list_input(){
$("#listupdate").modal({backdrop: "static"});

}

$("#history_h").hide();
$("#device_h").hide();
$("#element_h").hide();
$("#xyz_h").hide();
$("#button_h").hide();
$("#button2_h").hide();

function edit_me()
{
// HIDE/UNHIDE EDIT ELEMENT
$("#history_h").hide();
$("#device_h").toggle();
$("#element_h").toggle();
$("#xyz_h").toggle();
$("#button_h").toggle();
$("#button2_h").toggle();
$("#inid").toggle();
$("#outid").toggle();
$("#outtime").toggle();
$("#back").toggle();
$("#play").toggle();
$("#forw").toggle();
$("#datetimepicker1").toggle();
if(play_snap == true)
  {

    play_snap = false;$('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-play');
  }
}

function history()
{
// HIDE/UNHIDE EDIT ELEMENT
$("#history_h").toggle();
$("#datetimepicker1").toggle();
$("#device_h").hide();
$("#element_h").hide();
$("#xyz_h").hide();
$("#button_h").hide();
$("#button2_h").hide();
$("#inid").show();
$("#outid").show();
$("#outtime").show();
}

function back_snap(){

try{


}catch(err){console.log("back_snap Error>:"+err)}


}

function forw_snap(){

try{


}catch(err){console.log("forw_snap Error>:"+err)}


}

function snap_play(){

try{

if(play_snap == true)
  {
    console.log("PAUSE");
    $("#load-status").text("Pause");
    play_snap = false;history_lock = false;$('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-play');
  }
else{
  console.log("PLAY");
  $("#load-status").text("Play");
  play_snap = true;
  location.reload();
  $('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-pause');

}

}catch(err){console.log("play_snap Error>:"+err)}


}


function dispimage()
{
imageObj.onload = function() {
context.width = imageObj.width;
context.height = imageObj.height;
context.drawImage(imageObj,0,0,imageObj.width,imageObj.height);
};
imageObj.src = 'static/live.jpg';
}




function downloadraw(){

var job_name = $("#jobdesc").text();
window.open('rawdownload?download='+job_name, '_blank');
//window.location.href = 'rawdownload?download='+job_name;


}

var dtable;
dataSet = [];

    dtable = $('#searchtable').DataTable( {
        responsive: true,
        "scrollY":"200px",
        "scrollCollapse":true,
        "paging":false,
        data : dataSet,
        dom: 'lBfrtip',
        lengthMenu: [
            [ 10, 50, 100, -1 ],
            [ '10', '50', '100', 'all' ]
        ],
        buttons: ['copy', 'excel', 'pdf' , {text: 'RAW',action:downloadraw}],
        columns: [
            { title: "Hostname" },
            { title: "IP" },
            { title: "Monitor" },
            { title: "name" },
            { title: "score" },
            { title: "out" }
        ]
    } );

//Session table
var stable;
sesdata = [];

    stable = $('#sessiontable').DataTable( {
        data : sesdata,
        "searching": false,
        "scrollY":"200px",
        "scrollCollapse":true,
        "paging":false,
        responsive: true,
        dom: 'lrtip',
        columns: [
            { title: "Hostname" },
            { title: "IP" },
            { title: "STATUS" }
        ]
    } );


//List input file in datatable

/* var listtable;


    listtable = $('#listinput').DataTable( {
        
        data : [],
        lengthMenu: [
            [ 10, 50, 100, -1 ],
            [ '10', '50', '100', 'all' ]
        ],
        columns: [
            { title: "FileName" },
            
        ]
    } );*/

// Add new job to server
function send_run(){

var fname = $("#listinput").val();
var desc = $("#jobname").val();
var appr = $("#apprentice").val();
var group_list = $("#groupselect").val();
group_list2 = []
group_data = "no"
fil_type = $("#listinput").is(":visible");
if (fil_type != true)
{
$.each(group_list, function (i,v) {
vv = v.split(":")
group = vv[0]
glevel = vv[1]

group_list2.push({"Group":group,"Level":glevel})
});
group_data = JSON.stringify(group_list2)
fname = "default.xlsx"
}

full_data = {"filename":fname,"jobname":desc,"apprentice":appr,"group":group_data}

$("#newrun_status").text("");
if (fname == "Select File"){$("#newrun_status").text("Please select input file");return "";}
if (desc.length < 1){$("#newrun_status").text("Please add job name");return "";}
$.ajax({type: 'POST',url:"new_job",data:full_data,success:send_suc,error:function (xhr, ajaxOptions, thrownError)
  {$("#newrun_status").text("Error"); }})

function send_suc(data)
{

 $("#newrun_status").text(data["status"]);  $("#jobname").val("");
 if ( data["status"] == "Job Started"){
  //if job started success , then display session status
  disp_session();
  $('#showinput').modal('hide');
 }

 }

}

// List file name in server
function new_ses(typ){
//listtable.clear().draw();
$('#listinput').empty();
$("#newrun_status").text("");
$('#groupselect').empty();
if (typ == "group")
{
// Group select
$('#inputrun').hide();
get_group("default.xlsx");
}else{
$('#inputrun').show();
}

var sj= document.getElementById('listinput');
sj.options[sj.options.length]= new Option("Select File","Select File");
$("#showinput").modal({backdrop: "static"});
$.ajax({type: 'POST',url:"list_input",data:{},success:list_files,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

// List input files

function list_files(data){

data1 = data["files"];
try{
var sj= document.getElementById('listinput');
for(var ddout = 0; ddout < data1.length;ddout ++)
{

d = data1[ddout];
//listtable.rows.add([[d]]);
//listtable.draw();

sj.options[sj.options.length]= new Option(d,d);
}
}catch(err){console.log("Draw Table Error"+err)}

}

}


$('#listinput').on('change', function() {

  val = $("#listinput").val()
  if(val == "Select File"){}
  else{get_group(val);}
})

//Get group and level from file
function get_group(fname)
{

$('#groupselect').empty();
$.ajax({type: 'POST',url:"getgroup",data:{filename:fname},success:group_process,error:function (xhr, ajaxOptions, thrownError)
  {$("#newrun_status").text("Getting group failed"); }})

function group_process(data)

{
total_group = []
total_group2 = []
if (data["data"] != undefined){
d = data["data"]
for(var ddout = 0; ddout < d.length;ddout ++){
dd = d[ddout]
gp = dd["Group"]
ls = dd["Level"]
$.each(gp, function (i,v) {

$.each(ls,function (ii,vv){total_group.push(v+":"+vv);


});
})

}
total_group = jQuery.unique(total_group);
$.each(total_group,function (iii,vvv){total_group2.push({id:vvv,text:vvv})})
$('#groupselect').select2({data:total_group2});
}
else{}

}

}





// Check if mouse is down ( to stop update of session)
var mouse_down = false;
$(document).mousedown(function() {
    mouse_down = true;
}).mouseup(function() {
    mouse_down = false;  
});


function get_session()
{
if ($('#showsession').is(':visible') == true )
{
try{
console.log("Request session status");
$.ajax({type: 'POST',url:"getsession",data:{"session":"live"},success:update_ses,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

function update_ses(data)
{
if (data == "failed")
{
    console.log("Failed to get session update")
}
else
{
ses = data["session"];
ses = ses[0];
ses_status = ses["STATUS"];
if (mouse_down != true)
{
stable.clear().draw();
}
ses_hold = 0
ses_completed = 0
ses_running = 0

for(var stat = 0; stat < ses_status.length;stat ++)
{
one_stat = ses_status[stat]
sip = one_stat["IP"];
shost = one_stat["Hostname"];
stype = one_stat["TYPE"];
if (stype == undefined)
{stype = "Hold";ses_hold = ses_hold + 1;}
if (stype == "Completed"){ses_completed = ses_completed + 1;}
if (stype == "Running"){ses_running = ses_running + 1;}
if (mouse_down != true)
{
stable.rows.add([[shost,sip,stype]]);
stable.draw();
}
}

$("#sesjobstatus").text("Job: "+ses["JOBNAME"]);
$("#seshold").text("Hold: "+ses_hold);
$("#sesrunning").text("Running: "+ses_running);
$("#sescompleted").text("Completed: "+ses_completed+" / "+ses_status.length);
$("#sestime").text("Started: "+ses["STARTDATE"]);
}

}
}catch(err){console.log("get_session >"+err)}
}
}

function disp_session()
{

$("#showsession").modal({backdrop: "static"});
  
}



function manage_input(){
//listtable.clear().draw();
$("#manage_status").text("");
$('#listinput2').empty();
var sj= document.getElementById('listinput2');
sj.options[sj.options.length]= new Option("Select File","Select File");
$("#manageinput").modal({backdrop: "static"});
$.ajax({type: 'POST',url:"list_input",data:{},success:list_files,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

// List input files

function list_files(data){

data1 = data["files"];
try{
var sj= document.getElementById('listinput2');
for(var ddout = 0; ddout < data1.length;ddout ++)
{

d = data1[ddout];
//listtable.rows.add([[d]]);
//listtable.draw();

sj.options[sj.options.length]= new Option(d,d);
}
}catch(err){console.log("Draw Table Error"+err)}

}

}


function down_input(){


var fname = $("#listinput2").val();
window.open('download_input?download='+fname, '_blank');
}

function del_input(){


var fname = $("#listinput2").val();
$("#manage_status").text("");

$.ajax({type: 'POST',url:"delete_input",data:{filename:fname},success:manage_files,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

function manage_files(data){
  if (data["status"] == "Deleted"){manage_input();}
  $("#manage_status").text(data["status"]);


}

}


canvas.on('mouse:down', function(e) 
{
  // Filter table by IP
  try{
    var ele = e.target
    ele = ele.name.split("_");
    //array start from "0" need to minis one
    //dinput[ele[0]-1].Hostname
    var ch = $('#tabsearch')
    ch.val(ele[0])
    ch.trigger('keyup');
  }catch(err){console.log("canvas Mouse over Error:"+err)}
  
});




/// #################################### LOGICAL FUNCTION  /////////////
var in_update = 0;
var out_update = 0;
var dinput = 0;
var doutput = 0;

$('#device').on('change', function() { try{
  $('#element').empty();
  for (var jj in dinput) {

  if (dinput[jj].IP == this.value)
  {

    var all_obj = dinput[jj].Monitoring_obj;
    //console.log(all_obj);

    //var sj= document.getElementById('element');
    //sj.options[sj.options.length]= new Option("Device",0);

    for (var jjj in all_obj) {
    var sj= document.getElementById('element');
    sj.options[sj.options.length]= new Option(all_obj[jjj].name, all_obj[jjj].id);
    $('.selectpicker').selectpicker('refresh');
    }
  }

  }
}
catch(err)
{console.log("Error device on change"+err)}
})

function get_up(data_history="live",timestmp="")
{
  if(new_update_required == false || (play_snap == false && history_lock == false)){console.log("Paused...");$("#load-status").text("Paused...");return ""}
try{

new_update_required = false;
history_lock = false;
if (typeof(in_update) != "number" ) {in_update = 0}
if (typeof(out_update) != "number" ) {out_update = 0}
console.log("SENDING REQUEST: IN:"+in_update+" OUT:"+out_update)
if (data_history != "live"){

// GET History update from server
get_post = {INID: in_update,SESSION : out_update,history : data_history, time : timestmp}

}
// GETTING LIVE UPDATE FROM SERVER
else{ get_post = {INID: in_update,SESSION : out_update} }

$("#load-status").text("loading...");
$.ajax({type: 'POST',url:"api",data:get_post,success:aj_post,error:function (xhr, ajaxOptions, thrownError)
  {new_update_required = true;console.log("Post Err");$("#load-status").text("failed");}})

function aj_post(data)
{
new_update_required = true;
$("#load-status").text("Updated");
$("#load-status").fadeIn(150).fadeOut(150).fadeIn(150).fadeOut(250).fadeIn(250);
if(data == "None"){console.log("RECEVING None");return "";}
console.log("RECEVING REQUEST: IN:"+data["in_update"]+" OUT:"+data["out_update"]);
$('#inid').text("INID: "+data["in_update"]);
$('#outid').text("SNAP: "+data["out_update"]);

in_update = data["in_update"];
out_update = data["out_update"];
if(data["input"] == 0)
{
  // No change in INPUT 
	data["input"]
}
else
{
     //New update received for INPUT
     $('#device').empty();
     dinput = data["input"]
     //console.log(dinput);

     // Create option based on device name,ip and ID
     for (var j in dinput) {
        var s= document.getElementById('device');
        s.options[s.options.length]= new Option(dinput[j].Hostname, dinput[j].IP);
        var s= document.getElementById('device');
        s.options[s.options.length]= new Option(dinput[j].IP, dinput[j].IP);
        $('.selectpicker').selectpicker('refresh');
  		//console.log(dinput[j].Hostname);

  		}


}
doutput = data["output"];
draw_data = data["draw"];
if (draw_data != 0 && data["output"] != 0)
{
  // Draw updated Toplology
try{
console.log("Drawing Topology");
canvas.loadFromJSON(draw_data)
canvas.renderAll()
}catch(err){console.log("Error draw_data"+err)}}


process_in_out(dinput,doutput)
new_update_required = true;

}

//POST FUNCTION END

}catch(err){console.log("Error get_up"+err);new_update_required = true;}}

function get_fab_objid_byname(nam){
var allob = [] ;
try{
var obj = canvas.getObjects();
for (var i = 0; i < obj.length; i++)
{
if (obj[i].name == nam )
{
allob.push(i);
}
}
//console.log(allob);
}catch(err){console.log("FabID error:"+err)}
return allob
}

function process_in_out(din,dout)
{
  // Receving JSON input & output in array string
 try
 {
  
   //console.log()
   
   if(dout == 0) {dout = "0"}; // To Fix calculating length for number 
   if(din == 0) {din = "0"}; // To Fix calculating length for number 

   if (din.length > 0 && dout.length > 0)
   {
     
     if(Array.isArray(din) == true && Array.isArray(dout) == true)
      {
        
        //clear Table for new update
        dtable.clear().draw();
        var dout_l = dout.length;
        var din_l = din.length;
		    var fabobj = canvas.getObjects()
        $("#datetimepicker1").fadeIn(100).fadeOut(100).fadeIn(100);
		for (var i = 0; i < dout_l; i++)
		{
        // Reading host by host
        console.log(dout[i].TD);
        $('#jobdesc').text(dout[i].JOBNAME);
        $('#datetimepicker1').val(moment.utc(new Date(dout[i].TD)).format('DD-MM-YYYY HH:mm:ss'))
        


        dinone = false;
		    host_id = dout[i].ID
		    hostOUT = ""
        //Getting OUT for single host
		    hostOUT = dout[i].OUT;
        //Get Input from output
        for(var di = 0; di < din_l ; di++){if(din[di].ID == host_id ){dinone = din[di];break;}}
        drawtable(dout[i],dinone);
			if ( typeof(hostOUT) == typeof(hostOUT))
			{
		    for (var ii = 0; ii < hostOUT.length; ii++)
		    {
            // Reading OUT array
		        //console.log("SYSTEM ID:"+host_id+" | OBJECT ID:"+hostOUT.id+" | DATA:"+hostOUT[ii].out);
		        // UPDATE SCREEN VALUE
		        try{
		        fabid = []
            // Retrive fabid based on hostid & elementid
				    var fabid = get_fab_objid_byname(dinone.IP+"_"+hostOUT[ii].id)
            //console.log(fabid)
                if (fabid.length > 0)
                {
                 for ( var ij = 0 ; ij < fabid.length ; ij++)
                 {

                    scolor = "#ff471a"
                    var fabele = fabobj[fabid[ij]]
                    //console.log(fabele);
                    //console.log(hostOUT.data[ii].out);
                    // Get OUT 0 to check device status
                    // IF ID : ITS DEVICE
                    if (hostOUT[ii].score == 100 )
                    {
                    scolor = "#00e600"
                    }
                    else if (hostOUT[ii].score <= 0)
                    {
                        // Device Not reachable
                        scolor = "#ff471a"
                    	
                    }
                    else
                    {

                        scolor = "#ff8902"
                    }
                    fabele.getObjects()[0].setFill(scolor);
                    fabele.getObjects()[1].setText(""+dinone.Hostname);
                    fabele.getObjects()[2].setText(""+hostOUT[ii].score);
                    canvas.renderAll();
                    
                 }
                }
				}
				catch(err){console.log("Error UPDATE SCREEN VALUE :"+err)}


		   }

		   }
		}
		}

 }
}catch(err){console.log("process_in_out"+err)}
}

function history(h){


var t = $('#datetimepicker1').val();

if(play_snap == true)
  {
    console.log("PAUSE");
    play_snap = false;$('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-play');
  }

history_lock = true;
get_up(h,t);


}


function drawtable(dout,din){

try{

for(var ddout = 0; ddout < dout.OUT.length;ddout ++)
{
var a = dout.OUT[ddout].out;
dtable.rows.add([[din.Hostname,din.IP,din.Monitoring_obj[ddout].monitor,din.Monitoring_obj[ddout].name,dout.OUT[ddout].score,JSON.stringify(a)]]);
dtable.draw();
}
}catch(err){console.log("Draw Table Error"+err)}


}

//Get Running Job Status
function job_status(){
try{
$('#outtime').text("Checking...");
$.ajax({type: 'POST',url:"job",data:{type:"GetRunningJob"},success:getrunjob,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Error > job_status"); }})

function getrunjob(data){ 

if (data["status"] == "Running"){
$('#outtime').text(data["status"]+":"+data["jobname"]);}else{

$('#outtime').text("Last Job:"+data["jobname"]);
$('#outtime').fadeIn(150).fadeOut(150).fadeIn(150).fadeOut(250).fadeIn(250)
}


}
}catch(err){console.log("job_status Error"+err)}
}
//Get update
get_up();
setInterval(get_up,4000);
setInterval(job_status,3000);
setInterval(get_session,4000);
</script>

</body>


</html>