<!DOCTYPE html>
<html lang="en">
<head>
  <title>Network Snap</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<script type="text/javascript" src="/static/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/boot-select/css/bootstrap-select.min.css">
<script type="text/javascript" src="/static/boot-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/moment.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>



<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Bootstrap-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/DataTables-1.10.15/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Buttons-1.3.1/css/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Responsive-2.1.1/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/Select-1.2.2/css/select.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/datatable_cdn/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/static/circle.css">
 
<script type="text/javascript" src="/static/datatable_cdn/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/JSZip-3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/pdfmake-0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/pdfmake-0.1.27/build/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/DataTables-1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Buttons-1.3.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Responsive-2.1.1/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatable_cdn/Select-1.2.2/js/dataTables.select.min.js"></script>


<script src="/static/codelight/lib/codemirror.js"></script>
<script src="/static/codelight/js-yaml.min.js"></script>
<link rel="stylesheet" href="/static/codelight/lib/codemirror.css" />
<script src="/static/codelight/mode/yaml/yaml.js"></script>
<link rel="stylesheet" href="/static/codelight/theme/rubyblue.css" />
<link rel="stylesheet" href="/static/codelight/addon/lint/lint.css" />
<script src="/static/codelight/addon/lint/lint.js"></script>
<script src="/static/codelight/addon/lint/yaml-lint.js"></script>
<script src="/static/codelight/addon/display/autorefresh.js"></script>

<link rel="stylesheet" type="text/css" href="/static/select2.css">
<script type="text/javascript" src="/static/select2.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/esprima/2.7.3/esprima.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.10.0/js-yaml.min.js"></script>


</head>
<body>


<!-- Edit Input -->
  <div class="modal fade" id="editinput" role="dialog">
    <div class="modal-dialog modal-lg" style="width:auto;height:95%;margin:0px;">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:98%;margin:10px;font-size:12px">
        <div class="modal-header" style="padding:1px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <label for="inputdefault" style="width: auto;height: 25px;display:inline;margin-right:5px;margin-left:5px;">File Name</label>
         <input type="text" class="form-control" id="newfilename" style="width: auto;display:inline;margin-right:5px;">
         <label for="overrideinputlabel2" style="margin-right:5px;">Override</label>
         <input id="overrideinput2" type="checkbox" checked="" style="margin-right:5px;">
        <button id="savefile" type="button" class="btn btn-primary btn-xs" onclick="save_file()" style="margin-right:15px;">Save</button>
         <select id="listinput3" class="form-control"  title="Select File" style="width: 15%;display:inline;font-size:14px;margin-right:5px;">
        </select>
        <button id="openyaml" type="button" class="btn btn-danger btn-xs" onclick="open_file()" style="display:inline;margin-right:5px;">Open Yaml</button>
        <button id="viewfun" type="button" class="btn btn-danger btn-xs" onclick="csv_view()" style="display:inline;margin-right:5px;">View Functions</button>
        <button id="opencsv" type="button" class="btn btn-danger btn-xs" onclick="upload_local_csv()" style="display:inline;margin-right:5px;">Open CSV</button>
        <input type="file" id="mergelocal" style="display:none">
        <span id="manage_status2" class="label label-warning"></span>
        </div>
        <div class="modal-body" style="padding:0px;">
        <textarea id="yamltxt"> </textarea>
         <!-- <table id="listinput" class="display"></table> -->
        </div>
      </div>
      </div></div>




<!-- Get CSV  DATA -->
  <div class="modal fade" id="showcsv" role="dialog" style="z-index:100000;">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <button id="mergecsv" type="button" class="btn btn-danger btn-xs" onclick="merge_csv_yaml()" style="display:inline;margin-right:5px;">Merge with Yaml</button>
          <span id="csvstatus" class="label label-warning">Loading Function & Input ...</span>
        </div>
        <div class="modal-body">
        <table id="yamltable" class="table table-striped table-bordered dt-responsive nowrap"></table>

        </div>
        <div class="modal-footer">
        </div>
      </div>
      </div></div>



<!-- Manage Input -->
  <div class="modal fade" id="manageinput" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Manage Input</h4>
          
        </div>
        <div class="modal-body">
        <div  class="form-group">
          <label for="inputdefault">Input File</label>
         <select id="listinput2" class="form-control"  title="Select File" style="width:70%;">
        </select>
        </div>
        <button id="downinput" type="button" class="btn btn-danger" onclick="down_input()">Download</button> 
        <button id="delinput" type="button" class="btn btn-danger" onclick="del_input()">Delete</button>
  
         <!-- <table id="listinput" class="display"></table> -->
         
          
        </div>
        <div class="modal-footer">
          <h4><span id="manage_status" class="label label-warning" style="float:left;"></span></h4>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div></div>

  <!-- Upload File -->
  <div class="modal fade" id="uploadinput" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Input file</h4>
        </div>
        <div class="modal-body">

          <form class="form-inline" id="inputform" action="upload_input">
          <div class="form-group">
            <label for="pwd">Upload YAML file</label>
            <input id="infilename" type="file" class="form-control" name="file">
          </div>
            <button class="btn btn-default">Submit</button>
           <div class="checkbox checkbox-danger">
    <input id="overrideinput" type="checkbox" checked="">
    <label for="overrideinputlabel">Override Existing File</label>
      </div>
          </form>

        </div>
        <div class="modal-footer">
          <h4><span id="upload_status" class="label label-info" style="float:left;">Please select</span></h4>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
<!-- List file and Run -->
  <div class="modal fade" id="showinput" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Run New</h4>
          
        </div>
        <div class="modal-body">
        <div id="inputrun" class="form-group">
          <label for="inputdefault">Input File</label>
         <select id="listinput" class="form-control"  title="Select File" style="width:50%;">
        </select>
        <span class="form-group">
        <button id="viewyamlrun" type="button" class="btn btn-danger" onclick="viewyamlrun()" >View</button>
        </span>
        </div>
          <label id="groupselect_lab" for="inputdefault">Group & Run Level</label>
        
        <div class="form-group">
        <select multiple id="groupselect" style="width:50%;">
          
        </select></div>
        

        <div class="form-group">
        <label for="inputdefault">Job Name</label>
          <input class="form-control" id="jobname" type="text" style="width:50%;">
        </div>
        <div class="form-group">
        <label for="inputdefault">Number of Apprentice(s)</label>
        <input class="form-control" id="apprentice" type="text" value=5 style="width:50%;">
        </div>
        <button id="newrun" type="button" class="btn btn-danger" onclick="send_run()">Run</button> 
  
         <!-- <table id="listinput" class="display"></table> -->
         
          
        </div>
        <div class="modal-footer">
          <h4><span id="newrun_status" class="label label-warning" style="float:left;"></span></h4>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div></div>








<!-- Get Session status -->
  <div class="modal fade" id="showsession" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span id="sesjobstatus" class="label label-default">Loading Job Status ...</span></h4>
          <span id="sescompleted" class="label label-success"></span>
          <span id="sesrunning" class="label label-primary"></span>
          <span id="seshold" class="label label-danger"></span>
          <span id="sestime" class="label label-info"></span>
        </div>
        <div class="modal-body">
        <table id="sessiontable" class="table table-striped table-bordered dt-responsive nowrap"></table>

        </div>
        <div class="modal-footer">
          <button id="skipalljobs" type="button" onclick="skipalljobs()" class="btn btn-danger">SKIP ALL JOBS</button>
        </div>
      </div>
      </div></div>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-weight: bold;">Network Snap</a></h1>
    </div>




    <ul id="edit_me" class="nav navbar-nav">
      
      <li class="active">
      <div style="float:left;margin:10px;width: 100%;" class="btn-group">
      <button type="button" id="actionbtn" style="background-color: #5bc0de;border-color: #46b8da;height: 29px;width: 100px;"  class="btn btn-warning dropdown-toggle btn-xs " data-toggle="dropdown">
      <span style="font-weight: bold;">ACTION</span>
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
      <li><a href="#" onclick="new_ses('group')">New Job</a></li>
      <li><a href="#" onclick="new_ses('file')">New File Job</a></li>
      <li><a href="#" onclick="disp_session()">View Running Job</a></li>
      <li><a href="#" onclick="upload_input()">Upload input</a></li>
      <li><a href="#" onclick="edit_input()">Edit input</a></li>
      <li><a href="#" onclick="manage_input()">Download | Delete input</a></li>
      </ul>
      </div></li>

      <li class="active"><h4 style="margin-top: 13px;"><span id="outtime" class="label label-default">LASTSNAP</span></h4></li>
      
     </ul>
<div style="float:right;margin-top:10px">
        <span id="load-status" class="label label-danger">RUNNING</span>
        
        
  <input id='datetimepicker1' type='text' />
       <a href="#" id="back" class="btn btn-sm btn-info" onclick="history('back')"><span class="glyphicon glyphicon-step-backward"></span></a>
      <a href="#" id="play" class="btn btn-sm btn-info" onclick="snap_play()"><span id="play_ico" class="glyphicon glyphicon-pause"></span></a>
      <a href="#" id="forw" class="btn btn-sm btn-info" onclick="history('forward')"><span class="glyphicon glyphicon-step-forward"></span></a>
      
</div>
  </div>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="progress red">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div id="danger-bar" class="progress-value">Loading</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div id="warning-bar" class="progress-value">Loading</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div id="good-bar" class="progress-value">Loading</div>
            </div></div>

              <div class="col-md-6 col-sm-6">
            <table id="oldjobs" class="table table-striped table-bordered dt-responsive nowrap"></table>
          </div>

        </div>
    </div>
</div>



<div class="container-fluid" >
  <div class="row">
    <br/>

<div class="col-md-12">
  <h4><span id="jobdesc" class="label label-primary">JOBNAME</span>
  <span id="inid" class="label label-info">INID</span>
  <span id="outid" class="label label-default">SNAPSHOT</span>
  </h4>
<table id="searchtable" class="table table-striped table-bordered dt-responsive nowrap"></table></div>
</div></div>


<style>
html body {background-color: rgba(240, 240, 240,1.00);}
</style>

<script>
  var editor = CodeMirror.fromTextArea(yamltxt, {
    lineNumbers: true,
    autorefrsh:true,
    theme: "rubyblue",
    mode: "text/x-yaml",
    gutters: ["CodeMirror-lint-markers"],
    lint: true
  });
  editor.refresh();

// Validate Yaml 
editor.on('change',function() {
      try{
      tmpobj = jsyaml.load(editor.getValue());
      $("#manage_status2").text("Valid Yaml")
      }catch(err){ $("#manage_status2").text(err.message) }




});

txt_edit_h = $("#editinput").height();
if (txt_edit_h > 0){txt_edit_h = txt_edit_h * 90 / 100}
$(".CodeMirror").height(txt_edit_h);
$(window).resize(function()
{
txt_edit_h = $("#editinput").height();
if (txt_edit_h > 0){txt_edit_h = txt_edit_h * 90 / 100}
$(".CodeMirror").height(txt_edit_h);
})

</script>

<script type="text/javascript">
  $('#groupselect').select2();
</script>


<script type="text/javascript">

            $(function () {
                var dateNow = new Date();
                console.log(dateNow);
                $('#datetimepicker1').datetimepicker({format:'DD-MM-YYYY HH:mm:ss',defaultDate:dateNow});
                $('div.dataTables_filter input').attr('id', 'tabsearch');
            });
        </script>

<script>

//$('#inputform').ajaxSubmit();


new_update_required = true;
play_snap = true;



$( document ).ajaxError(function( event, jqxhr, settings, thrownError ) {

console.log("Post Data Error");  
console.log(settings);

});


// Submitting input file to server
$("#inputform").submit(function(e)
{
    e.preventDefault(); //Prevent Default action.
    try{
    var formObj = $(this);
    var formURL = formObj.attr("action");
    var formData = new FormData(this);
    if($("#infilename").val() == ''){$("#upload_status").text("Please select file"); return "";}
    $("#upload_status").text("Uploading...");
    if ($("#overrideinput").is(':checked') == true ){formData.append("override","yes")}
    $.ajax({
        url: formURL,
    type: 'POST',
        data:  formData,
    mimeType:"multipart/form-data",
    contentType: false,
        cache: false,
        processData:false,
    success: function(data, textStatus, jqXHR)
    {
  if( data == "success"){
        $('#inputform').trigger("reset");
  $('#overrideinput').prop('checked', false);
        $("#upload_status").text("Upload Success");}else{$("#upload_status").text(data);}
        console.log("Upload Failed : Responce : "+data);
    },
     error: function(jqXHR, textStatus, errorThrown) 
     {
     
         $("#upload_status").text("Upload Failed");
        console.log(errorThrown);

     }          
    });
}catch(err){console.log("upload_error>"+err)}}); 


function upload_input(){
$("#uploadinput").modal({backdrop: "static"});
$('#inputform').trigger("reset");
$('#overrideinput').prop('checked', false);
$("#upload_status").text("Please Select");
}


function list_input(){
$("#listupdate").modal({backdrop: "static"});

}



function back_snap(){

try{


}catch(err){console.log("back_snap Error>:"+err)}


}

function forw_snap(){

try{


}catch(err){console.log("forw_snap Error>:"+err)}


}

function snap_play(){

try{

if(play_snap == true)
  {
    console.log("PAUSE");
    $("#load-status").text("Pause");
    play_snap = false;history_lock = false;$('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-play');
  }
else{
  console.log("PLAY");
  $("#load-status").text("Play");
  play_snap = true;
  location.reload();
  $('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-pause');

}

}catch(err){console.log("play_snap Error>:"+err)}


}


function downloadraw(){

var job_name = $("#jobdesc").text();
window.open('rawdownload?download='+job_name, '_blank');
//window.location.href = 'rawdownload?download='+job_name;


}

// Open YAML file from server display it into editor
function open_file(){
try{
fname_down = $("#listinput3").val();
console.log(fname_down)
if (fname_down == "New File "){editor.setValue("--- \n");$("#newfilename").val("");return;}
$("#manage_status2").text("");
fname_down = 'download_input?download='+fname_down
$(function(){
    $.ajax({
        url: fname_down,
        async: true,   // asynchronous request? (synchronous requests are discouraged...)
        cache: false,   // with this, you can force the browser to not make cache of the retrieved data
        dataType: "text",  // jQuery will infer this, but you can set explicitly
        success: function( data, textStatus, jqXHR ) {
            editor.setValue(data);
            $("#manage_status2").text("success");
            $('#overrideinput2').prop('checked', false);
            console.log("Received Input file")
            fname_down = $("#listinput3").val();
            $("#newfilename").val(fname_down);
        }
    });
});

}catch(err){console.log("opening file failed :"+err);$("#manage_status2").text("opening file failed");}
}


// Open YAML file from server display it into table
function viewyamlrun(){
try{
fname_down = $("#listinput").val();
if (fname_down == "Select File"){$("#newrun_status").text("Please select file");return;}
$("#newrun_status").text("Loaing file from server...");
fname_down = 'download_input?download='+fname_down
$(function(){
    $.ajax({
        url: fname_down,
        async: true,   // asynchronous request? (synchronous requests are discouraged...)
        cache: false,   // with this, you can force the browser to not make cache of the retrieved data
        dataType: "text",  // jQuery will infer this, but you can set explicitly
        success: function( data, textStatus, jqXHR ) {
            csv_doc = jsyaml.safeLoad(data);
            $("#newrun_status").text("success");
            console.log("Received Input file");
            yfname = $("#listinput").val();
            display_csv_table(csv_doc,yfname)
        }
    });
});

}catch(err){console.log("opening file failed :"+err);$("#newrun_status").text("opening file failed");}
}




function csv_view()
{
try {

yaml_data = editor.getValue();
csv_doc = jsyaml.safeLoad(yaml_data);
yfname = $("#listinput3").val();
display_csv_table(csv_doc,yfname);

}catch (e) {   console.log("csv_view "+e);$("manage_status2").text("csv view failed")    }


}

// Display YAML to Table
function display_csv_table(csv_doc,yfname)
{
try {
      $('#mergecsv').hide();
      $("#csvstatus").text("Loadind...")
      $("#showcsv").modal({backdrop: "static"});
      yamltable.clear().draw();
      console.log(csv_doc);
      all_host_list = csv_doc.networksnap
      $.each( all_host_list, function( index, value )
      {
           
      yamltable.draw();
      $.each( value.Objects, function( index, hvalue )
      { 

        console.log(value.Hostname+" "+value.IP+" "+hvalue.function+" "+JSON.stringify(hvalue.input))
        if (value.Hostname == undefined) {value.Hostname = ""}
        if (value.IP == undefined) {value.IP = ""}
        if (hvalue.function == undefined) {hvalue.function = ""}
        if (hvalue.input == undefined) {hvalue.input = ""}
        yamltable.rows.add([[ value.Hostname,value.IP,hvalue.function,JSON.stringify(hvalue.input)  ]]);

      });

      });
      yamltable.draw();
      $("#csvstatus").text("File: "+yfname)

} catch (e) 
{
      $("#csvstatus").text("Failed to view")
      console.log(e);
}}

// Reset file name , if same file is selected
$("#mergelocal").on('click', function() { this.value = null;} );

// Merge CSV file to YAML
function upload_local_csv()
{
  $("#mergelocal").click();

}

// Display local CSV to Table
function display_csv_table_data(data)
{
try {
      $('#mergecsv').show();
      $("#csvstatus").text("Loadind...")
      $("#showcsv").modal({backdrop: "static"});
      yamltable.clear().draw();
      all_host_list = data
           
      yamltable.draw();
      $.each( all_host_list, function( index, hvalue )
      { 

        if (hvalue.Hostname == undefined) {hvalue.Hostname = ""}
        if (hvalue.IP == undefined) {hvalue.IP = ""}
        if (hvalue.function == undefined) {hvalue.function = ""}
        if (hvalue.input == undefined) {hvalue.input = ""}
        yamltable.rows.add([[ hvalue.Hostname,hvalue.IP,hvalue.function,JSON.stringify(hvalue.input)  ]]);

      });
      yamltable.draw();
      yfname = $("#listinput3").val();
      $("#csvstatus").text("Merge With: "+yfname)

} catch (e) 
{
      $("#csvstatus").text("Failed to view CSV")
      console.log(e);
}}




var local_csv_val = ""
$("#mergelocal").on('change', function() {
    local_csv_val = ""
    var file = this.files[0];
    Papa.parse(file, {
    header: true,
    dynamicTyping: true,
    complete: function(results)
    {
      local_csv_val = results.data
      console.log(local_csv_val)
      display_csv_table_data(local_csv_val)

    }


})});


function merge_csv_yaml() {
    try
    {
    yfname = $("#listinput3").val();
    chk = confirm("Are You Sure to Merge table functions with "+yfname);
    if (chk == false){return false;}
    $("#csvstatus").text("Uploading Date to Server....");
    if (local_csv_val == "" || local_csv_val == undefined ) {$("#csvstatus").text("Merged Failed: No valid CSV found"); return "";}
    js_data = local_csv_val;
    yaml_data = editor.getValue();
    js_yam = {"js":JSON.stringify(js_data),"yaml":yaml_data}
    $.ajax({url: "merge_js_yaml",data:js_yam,type: 'POST',success: function(data){
    
    if (data.data != undefined)
    {
      editor.setValue(data.data);
      $("#csvstatus").text("Merged Success");

    }else{$("#csvstatus").text("Merged Failed:");console.log(data)}
    
    

    },error: function(XMLHttpRequest, textStatus, errorThrown) {console.log("merge server error:"+textStatus)}  });
    }catch(err){console.log("upload_local_csv server error :"+err)}

};




function merge_from_file(){
try{

var myFile = $('#mergelocal').prop('files')[0];
console.log(myFile)





}catch(err){console.log("merge_from_file :"+err)}
}

function save_file(){
try{
if($("#newfilename").val() == ''){$("#manage_status2").text("Please Enter File Name"); return "";}

textToWrite = editor.getValue();
textFileAsBlob = new Blob([textToWrite], {type: "text/plain;"});

var up_fd = new FormData();
if ($("#overrideinput2").is(':checked') == true ){up_fd.append("override","yes")}
up_file_name = $("#newfilename").val();
up_fd.append('file', textFileAsBlob,up_file_name);
$.ajax({
    type: 'POST',
    url: '/upload_input',
    data: up_fd,
    mimeType:"multipart/form-data",
    contentType: false,
    cache: false,
    processData:false,
    success: function(data, textStatus, jqXHR)
    {
    if( data == "success")
    {
    $('#overrideinput2').prop('checked', false);
    $("#manage_status2").text("Upload Success");}else{$("#manage_status2").text(data);}
    console.log("Save Failed : Responce : "+data);
    },
     error: function(jqXHR, textStatus, errorThrown) 
     {
      $("#manage_status2").text("Save Failed");
      console.log(errorThrown);
     }     
})
}catch(err){console.log("saving file failed");$("#manage_status2").text("saving file failed");}
}





var dtable;
dataSet = [];

    dtable = $('#searchtable').DataTable( {
        responsive: true,
        "scrollY":"200px",
        "scrollCollapse":true,
        "paging":false,
        data : dataSet,
        dom: 'lBfrtip',
        "createdRow": function( row, data, dataIndex){
                if( data[3] ==  0){$(row).css({"background-color":"#ff0000",'color': '#ffffff','font-weight':'bold',"font-size": "12px"});}
                else if(data[3] ==  100){$(row).css({"background-color":"#1abc9c",'color': '#ffffff','font-weight':'bold',"font-size": "12px"});}
                else {$(row).css({"background-color":"#fdba04",'color': '#ffffff','font-weight':'bold',"font-size": "12px"});}

                if( data[0].search("JOBNAME:") ==  0){$(row).css({"background-color":"#597df2",'color': '#ffffff','font-weight':'bold'});}
              },
        lengthMenu: [
            [ 10, 50, 100, -1 ],
            [ '10', '50', '100', 'all' ]
        ],
        buttons: ['copy',{extend: 'excel',title: function () {return $("#jobdesc").text()}},{extend: 'pdf',title: function () {return $("#jobdesc").text()} } , {text: 'RAW',action:downloadraw}],
        columns: [
            { title: "Hostname" },
            { title: "IP" },
            { title: "Issue" },
            { title: "score" },
            { title: "out" },
            { title: "input" }
        ]
    } );

//Session table
var stable;
sesdata = [];

    stable = $('#sessiontable').DataTable( {
        data : sesdata,
        "searching": false,
        "scrollY":"500px",
        "scrollX": false,
        "scrollCollapse":true,
        "paging":false,
        responsive: true,
        dom: 'lrtip',
        columns: [
            { title: "Hostname" },
            { title: "IP" },
            { title: "Status" },
            { title: "Note" }
        ]
    } );



var yamltable;
yamldata = [];

    yamltable = $('#yamltable').DataTable( {
        data : yamldata,
        responsive: true,
        "scrollY":"300px",
        "scrollCollapse":true,
        "paging":false,
        data : dataSet,
        dom: 'lBfrtip',
        buttons: ['copy','csv'],
        columns: [
            { title: "Hostname" },
            { title: "IP" },
            { title: "function" },
            { title: "input" }
        ]
    } );


var oldjobtable
oldjobdata = []

oldjobtable = $('#oldjobs').DataTable( {
        data : oldjobdata,
        columnDefs: [{targets:0,render: function ( data, type, full, meta) {
                    if(type === 'display'){
                        data = '<a href="#" onclick="datatable_click('+"'"+data+"'"+')">' + data + '</a>';
                    }
                    return data;
                }
            }],
        "scrollY":'100px',
        "scrollCollapse":true,
        "paging":false,
        "order": [[ 0, "desc" ]],
        responsive: true,
        dom: 'lrtip',
        columns: [
             { title: "JOB HISTORY" },
            { title: "JOBNAME" }
            
        ]
    } );

//List input file in datatable

/* var listtable;


    listtable = $('#listinput').DataTable( {
        
        data : [],
        lengthMenu: [
            [ 10, 50, 100, -1 ],
            [ '10', '50', '100', 'all' ]
        ],
        columns: [
            { title: "FileName" },
            
        ]
    } );*/


//Get joblist based on time
function get_oldjobs(tim,d_limit){

his_data = {type:"history_list",time:tim,limit:d_limit}
$.ajax({type: 'POST',url:"history",data:his_data,success:got_job,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Error > Getting old JOBS"); }})


function got_job(data){
if (data == "None" || data.length == 0 )
{console.log("No oldjob found");}
else{
oldjobtable.clear().draw();
$.each(data, function (i,v) {
oldjobtable.rows.add([[v.TD,v.JOBNAME]]);
//oldjobtable.rows.add([[v.JOBNAME,v.INID,v.SESSION]]);
});
oldjobtable.draw();
}
}

}

// Add new job to server
function send_run(){

var fname = $("#listinput").val();
var desc = $("#jobname").val();
var appr = $("#apprentice").val();
var group_list = $("#groupselect").val();
group_list2 = []
group_data = "no"
fil_type = $("#listinput").is(":visible");
if (fil_type != true)
{
$.each(group_list, function (i,v) {
vv = v.split(":")
group = vv[0]
glevel = vv[1]

group_list2.push({"Group":group,"Level":glevel})
});
group_data = JSON.stringify(group_list2)
fname = "default.xlsx"
}

full_data = {"filename":fname,"jobname":desc,"apprentice":appr,"group":group_data}

$("#newrun_status").text("");
if (fname == "Select File"){$("#newrun_status").text("Please select input file");return "";}
if (desc.length < 1){$("#newrun_status").text("Please add job name");return "";}
$.ajax({type: 'POST',url:"new_job",data:full_data,success:send_suc,error:function (xhr, ajaxOptions, thrownError)
  {$("#newrun_status").text("Error"); }})

function send_suc(data)
{

 $("#newrun_status").text(data["status"]);  $("#jobname").val("");
 if ( data["status"] == "Job Started"){
  //if job started success , then display session status
  disp_session();
  $('#showinput').modal('hide');
 }

 }

}

// List file name in server
function new_ses(typ){
//listtable.clear().draw();
$('#listinput').empty();
$("#newrun_status").text("");
$('#groupselect').empty();
if (typ == "group")
{
// Group select
$('#inputrun').hide();
get_group("default.xlsx");
}else{
$('#inputrun').show();
}

var sj= document.getElementById('listinput');
sj.options[sj.options.length]= new Option("Select File","Select File");
$("#showinput").modal({backdrop: "static"});
$.ajax({type: 'POST',url:"list_input",data:{},success:list_files,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

// List input files

function list_files(data){

data1 = data["files"];
try{
var sj= document.getElementById('listinput');
for(var ddout = 0; ddout < data1.length;ddout ++)
{

d = data1[ddout];
//listtable.rows.add([[d]]);
//listtable.draw();

sj.options[sj.options.length]= new Option(d,d);
}
}catch(err){console.log("Draw Table Error"+err)}

}

}


$('#listinput').on('change', function() {

  val = $("#listinput").val()
  if(val == "Select File"){}
  else{get_group(val);}
})

//Get group and level from file
function get_group(fname)
{

$('#groupselect').empty();
$.ajax({type: 'POST',url:"getgroup",data:{filename:fname},success:group_process,error:function (xhr, ajaxOptions, thrownError)
  {$("#newrun_status").text("Getting group failed"); }})

function group_process(data)
{
total_group = []
total_group2 = []
if (data["data"] != undefined){
d = data["data"]
for(var ddout = 0; ddout < d.length;ddout ++){
dd = d[ddout]
gp = dd["Group"]
ls = dd["Level"]
$.each(gp, function (i,v) {

$.each(ls,function (ii,vv){total_group.push(v+":"+vv);


});
})

}
total_group = jQuery.unique(total_group);
$.each(total_group,function (iii,vvv){total_group2.push({id:vvv,text:vvv})})
$('#groupselect').select2({data:total_group2});
}
else{}

}

}





// Check if mouse is down ( to stop update of session)
var mouse_down = false;
$(document).mousedown(function() {
    mouse_down = true;
}).mouseup(function() {
    mouse_down = false;  
});


function get_session()
{
if ($('#showsession').is(':visible') == true )
{
try{
console.log("Request session status");
$.ajax({type: 'POST',url:"getsession",data:{"session":"live"},success:update_ses,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

function update_ses(data)
{
if (data == "failed")
{
    console.log("Failed to get session update")
}
else
{
ses = data["session"];
ses = ses[0];
ses_status = ses["STATUS"];
if (mouse_down != true)
{
stable.clear().draw();
}
ses_hold = 0
ses_completed = 0
ses_running = 0

for(var stat = 0; stat < ses_status.length;stat ++)
{
one_stat = ses_status[stat]
sip = one_stat["IP"];
shost = one_stat["Hostname"];
stype = one_stat["TYPE"];
sstate = one_stat["STATUS"];
if (sstate == undefined) {sstate=""}
if (stype == undefined)
{stype = "Hold";ses_hold = ses_hold + 1;}
if (stype == "Completed"){ses_completed = ses_completed + 1;}
if (stype == "Running"){ses_running = ses_running + 1;}
if (mouse_down != true)
{
stable.rows.add([[shost,sip,stype,JSON.stringify(sstate)]]);
stable.draw();
}
}

$("#sesjobstatus").text("Job: "+ses["JOBNAME"]);
$("#seshold").text("Hold: "+ses_hold);
$("#sesrunning").text("Running: "+ses_running);
$("#sescompleted").text("Completed: "+ses_completed+" / "+ses_status.length);
$("#sestime").text("Started: "+ses["STARTDATE"]);
}

}
}catch(err){console.log("get_session >"+err)}
}
}

function disp_session()
{
// Clear Previous status
stable.clear().draw();
$("#sesjobstatus").text("Please Wait...");
$("#seshold").text("");
$("#sesrunning").text("");
$("#sescompleted").text("");
$("#sestime").text("");

$("#showsession").modal({backdrop: "static"});
  
}



function edit_input(){
//listtable.clear().draw();
editor.refresh();
$("#manage_status2").text("");
$('#listinput3').empty();
$('#overrideinput2').prop('checked', false);
var sj= document.getElementById('listinput3');
sj.options[sj.options.length]= new Option("New File ","New File ");
$("#editinput").modal({backdrop: "static"});
$.ajax({type: 'POST',url:"list_input",data:{},success:list_files_edit,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

// List input files

function list_files_edit(data){

data1 = data["files"];
try{
var sj= document.getElementById('listinput3');
for(var ddout = 0; ddout < data1.length;ddout ++)
{

d = data1[ddout];
//listtable.rows.add([[d]]);
//listtable.draw();

sj.options[sj.options.length]= new Option(d,d);
}
}catch(err){console.log("Draw Table Error"+err)}

}

}



function manage_input(){
//listtable.clear().draw();
$("#manage_status").text("");
$('#listinput2').empty();
var sj= document.getElementById('listinput2');
sj.options[sj.options.length]= new Option("Select File","Select File");
$("#manageinput").modal({backdrop: "static"});
$.ajax({type: 'POST',url:"list_input",data:{},success:list_files,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

// List input files

function list_files(data){

data1 = data["files"];
try{
var sj= document.getElementById('listinput2');
for(var ddout = 0; ddout < data1.length;ddout ++)
{

d = data1[ddout];
//listtable.rows.add([[d]]);
//listtable.draw();

sj.options[sj.options.length]= new Option(d,d);
}
}catch(err){console.log("Draw Table Error"+err)}

}

}


function down_input(){


var fname = $("#listinput2").val();
window.open('download_input?download='+fname, '_blank');
}

function del_input(){

var fname = $("#listinput2").val();
chk = confirm("Are You Sure to delete ?"+fname);
if (chk == false){return false;}
$("#manage_status").text("");
$.ajax({type: 'POST',url:"delete_input",data:{filename:fname},success:manage_files,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Post Error");}})

function manage_files(data){
  if (data["status"] == "Deleted"){manage_input();}
  $("#manage_status").text(data["status"]);


}

}


/// #################################### LOGICAL FUNCTION  /////////////
var INID = 0;
var SESSION = 0;
var doutput = 0;


function get_up(data_history="live",timestmp="")
{
  if(new_update_required == false || (play_snap == false && history_lock == false)){console.log("Paused...");$("#load-status").text("Paused...");return ""}
try{

new_update_required = false;
history_lock = false;
if (typeof(INID) != "number" ) {INID = 0}
if (typeof(SESSION) != "number" ) {SESSION = 0}
console.log("SENDING : INID:"+INID+" SESSION:"+SESSION)
if (data_history != "live"){

// GET History update from server
get_post = {INID: INID,SESSION : SESSION,history : data_history, time : timestmp}

}
// GETTING LIVE UPDATE FROM SERVER
else{ get_post = {INID: INID,SESSION : SESSION} }

$("#load-status").text("loading...");
$.ajax({type: 'POST',url:"api",data:get_post,success:aj_post,error:function (xhr, ajaxOptions, thrownError)
  {new_update_required = true;console.log("Post Err");$("#load-status").text("failed");}})

function aj_post(data)
{
new_update_required = true;
$("#load-status").text("Updated");
$("#load-status").fadeOut(150).fadeIn(150);
if(data == "None"){console.log("RECEVING None");return "";}
console.log("RECEVING : INID:"+data["INID"]+" SESSION:"+data["SESSION"]);
$('#inid').text("INID: "+data["INID"]);
$('#outid').text("SNAP: "+data["SESSION"]);

INID = data["INID"];
SESSION = data["SESSION"];
//New update received for INPUT
doutput = data["output"];
process_in_out(doutput)
new_update_required = true;

}

//POST FUNCTION END

}catch(err){console.log("Error get_up"+err);new_update_required = true;}}


function process_in_out(dout)
{
score_danger = 0;
score_warning = 0;
score_good = 0;
try
{
if(dout == 0) {dout = "0"} // To Fix calculating length for number 
//clear Table for new update
else{
dtable.clear().draw();
$("#datetimepicker1").fadeOut(150).fadeIn(150);
$('#jobdesc').text(dout[0].JOBNAME);
$('#datetimepicker1').val(moment.utc(new Date(dout[0].TD)).format('DD-MM-YYYY HH:mm:ss'));
$.each(dout, function(index, value) {
  // Ready Host by host
    single_host = value;
    
    $.each(single_host.Objects, function(index, d) {
    // Read Single host data
    if(d.score == undefined){d.score="-"};if(d.out == undefined){d.out=""};
    if(d.input == undefined){d.input=""};
    if(d.note == undefined){d.note=""};
    if(d.score == 100){score_good = score_good+1}
    else if (d.score == 0){score_danger = score_danger+1}
    else{score_warning = score_warning+1 ;}
        $('#danger-bar').text("Danger "+score_danger);
        $('#warning-bar').text("Warning "+score_warning);
        $('#good-bar').text("Good "+score_good);

    dtable.rows.add([[single_host.Hostname,single_host.IP,d.note,d.score,JSON.stringify(d.out),JSON.stringify(d.input)]]);
  });

});
get_oldjobs($('#datetimepicker1').val(),10);
dtable.draw();
dtable.draw();
}

}catch(err){console.log("process_in_out"+err)}
}


function datatable_click(dat)
{

try{
$('#datetimepicker1').val(moment.utc(new Date(dat)).format('DD-MM-YYYY HH:mm:ss'));
history("forward");
}
catch(err){console.log("Error datatable_click"+err);}
}

function history(h){
var t = $('#datetimepicker1').val();

if(play_snap == true)
  {
    console.log("PAUSE");
    play_snap = false;$('#play_ico').removeClass('glyphicon glyphicon-pause').addClass('glyphicon glyphicon-play');
  }

history_lock = true;
get_up(h,t);


}


//Get Running Job Status
function job_status(){
try{
$('#outtime').text("Checking...");
$.ajax({type: 'POST',url:"job",data:{type:"GetRunningJob"},success:getrunjob,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Error > job_status"); }})

function getrunjob(data){ 

if (data["status"] == "Running"){
$('#outtime').text(data["status"]+":"+data["jobname"]);}else{

$('#outtime').text("Last Job:"+data["jobname"]);
$('#outtime').fadeOut(150).fadeIn(150);
}


}
}catch(err){console.log("job_status Error"+err)}
}

// SKIP RUNNING JOBS

function skipalljobs(){
try{

  chk = confirm("Skipping is little slow process, Are You Sure to SKIP JOB ?");
  if (chk == false){return false;}
  console.log("SKIPPING JOB");
$.ajax({type: 'POST',url:"job",data:{type:"skip"},success:skiprunjob,error:function (xhr, ajaxOptions, thrownError)
  {console.log("Error > job_skipping"); }})

function skiprunjob(data){ 
jbn = $("#sesjobstatus").text()
if (data["status"] == "Skipping"){
$("#sesjobstatus").text("SKIPPING :"+jbn);
}
else{
$("#sesjobstatus").text("SKIPPING FAILED : "+jbn);
}
}
}catch(err){console.log("skipping job Error"+err)}
}



//Get update
get_up();
setInterval(get_up,4000); // Get JOB output from DB
setInterval(job_status,3000); // Get running job status based on thread name ( not from DB)
setInterval(get_session,4000); // Get Running JOB details
</script>

</body>


</html>